<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smoketracker_weber_favez">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoicone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoicone"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".History_list_data_Activity"/>
        <activity android:name=".TrackingActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".ModifyTablesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>