<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smoketracker_weber_favez">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoicone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoicone"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".smoketracker.ui.ModifyInfoActivity"></activity>
        <activity android:name=".smoketracker.ui.Login_activity" />
        <activity android:name=".smoketracker.ui.CreateDayActivity"/>
        <activity android:name=".smoketracker.ui.LoginMenuActivity" />
        <activity android:name=".smoketracker.ui.History_list_data_Activity" />
        <activity android:name=".smoketracker.ui.TrackingActivity" />
        <activity android:name=".smoketracker.ui.HomeActivity" />
        <activity android:name=".smoketracker.ui.ModifyTablesActivity" />
        <activity android:name=".smoketracker.ui.ModifyUserActivity" />
        <activity android:name=".smoketracker.ui.ModifyDayActivity" />
        <activity android:name=".smoketracker.ui.ShowDayActivity" />
        <activity android:name=".smoketracker.ui.ShowUserActivity" />
        <activity android:name=".smoketracker.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>